name: Update IP List

on:
  schedule:
    - cron: '0 */3 * * *' # 每3小时运行一次
  workflow_dispatch: # 允许手动触发


jobs:

  update-ip-list:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
      
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests
        pip install beautifulsoup4
        
    - name: Run collect_ips script
      run: |
        python ${{ github.workspace }}/collect_ips.py
        
    - name: Run ipcha script
      run: |
        python ${{ github.workspace }}/ipcha.py 

    - name: Run ipfj script
      run: |
        python ${{ github.workspace }}/ipfj.py

    - name: Commit and push changes
      run: |
        git config --global user.email "chenhua.xu@qq.com"
        git config --global user.name "wokaotianshi123"
        # 检查是否有文件更改，包括 ipfj 文件夹及其内容
        if [ -n "$(git status --porcelain)" ]; then
          # 添加所有更改的文件，包括 ipfj 文件夹
          git add .
          git commit -m "Automatic update"
          git push
        else
          echo "No changes detected, skipping commit."
        fi
